[submodule "sealdice-core"]
	path = sealdice-core
	url = git@github.com:pinenut666/snowdice.git
	branch = master
[submodule "sealdice-ui"]
	path = sealdice-ui
	url = git@github.com:pinenut666/snowdice-ui.git
	branch = master
[submodule "sealdice-android"]
	path = sealdice-android
	url = https://github.com/sealdice/sealdice-android
	branch = master
[submodule "sealdice-builtins"]
	path = sealdice-builtins
	url = https://github.com/sealdice/sealdice-builtins
	branch = master
